<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="theme-color" content="#0d6efd">
</head>
<style>
        body { background:linear-gradient() ;
            color: blanchedalmond;

            

        }
    </style>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span class="navbar-brand">HOME</span>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Read Our Brief</h5>
                <form action=" /"  method="post">                   
                    <button class="btn btn-success flex-fill shadow" type="button" onclick="saveItem()">Read our brief</button>
                </form>
                
                <!-- Read our brief is a button that links to a brief page -->


                <div id="message"></div>

                <div class="mb-4">
                <h1>
                    Explore this demo of the hAire recruitement tool 
                </h1>
                <h2>
                    Select whether you are an applicant applying or a recruiter filtering applicants
                </h2>
                </div>

                <form action=" /"  method="post">                   
                    <button class="btn btn-success flex-fill shadow" type="button" onclick="saveItem()">APPPLY NOW</button>
                </form>
                

                <form action=" /"  method="post">                   
                    <button class="btn btn-success flex-fill shadow" type="button" onclick="saveItem()">RECRUIT</button>
                </form>

                <div class="mb-3">
                    <small class="text-muted">Created by: Elye Fredricks, Geremie Ishimwe, Leyton Manthopoulos, Jonathan Rajdl and Carl Vlok </small>
                </div>

            </div>
        </div>
    </div>

    
</body>
</body>
</html>